/* design */

body#design .camera figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/camera_hero.png); }
@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (min-device-width:321px),
       only screen and (        min-device-pixel-ratio:1.5) and (min-device-width:321px){
	body#design .camera figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/camera_hero_2x.png); background-size:2700px 925px; }
}
@media only screen and (max-width:1024px) {
	body#design .camera figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/camera_hero_1024.png); }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (min-device-width:321px) and (max-width:1024px),
       only screen and (        min-device-pixel-ratio:1.5) and (min-device-width:321px) and (max-width:1024px) {
	body#design .camera figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/camera_hero_1024_2x.png); background-size:1024px 925px; }
}

body#design .cases figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/cases_hero.png); }
@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (min-device-width:321px),
       only screen and (        min-device-pixel-ratio:1.5) and (min-device-width:321px){
	body#design .cases figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/cases_hero_2x.png); background-size:2850px 992px; }
}
@media only screen and (max-width:1024px) {
	body#design .cases figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/cases_hero_1024.png); }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (min-device-width:321px) and (max-width:1024px),
       only screen and (        min-device-pixel-ratio:1.5) and (min-device-width:321px) and (max-width:1024px) {
	body#design .cases figure.hero { background-image:url(http://images.apple.com/iphone-5s/design/images/cases_hero_1024_2x.png); background-size:1024px 992px; }
}


/* features */

body#features .craft .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/craft_interstitial.png); }
body#features .touchid .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/touchid_interstitial.png); }
body#features .performance .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/performance_interstitial.png); }
body#features .camera .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/camera_interstitial.png); }
body#features .camera .camera-isight-cta h4 { padding-top:87px; width:272px; background:url(http://images.apple.com/iphone-5s/features/images/isight_headline.png) no-repeat; background-size:272px 174px; }
body#features .camera .burberry-cta h4 {padding-top:87px; background:url(http://images.apple.com/iphone-5s/features/images/burberry_headline.png) no-repeat; background-size:272px 174px; }

body#features .wireless .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/wireless_interstitial.png); }
body#features .software .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/ios_interstitial.png); }
body#features .cases .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/cases_interstitial.png); }

@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (min-width:1025px),
       only screen and (        min-device-pixel-ratio:1.5) and (min-width:1025px) {
	body#features .craft .interstitial .image { background-image:url(http://images.apple.com/iphone-5s/features/images/craft_interstitial_2x.png); background-size:100% 100%; }
	body#features .touchid .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/touchid_interstitial_2x.png); background-size:100% 100%; }
	body#features .performance .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/performance_interstitial_2x.png); background-size:100% 100%; }
	body#features .camera .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/camera_interstitial_2x.png); background-size:100% 100%; }
	body#features .wireless .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/wireless_interstitial_2x.png); background-size:100% 100%; }
	body#features .software .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/ios_interstitial_2x.png); background-size:100% 100%; }
	body#features .cases .interstitial.show .image { background-image:url(http://images.apple.com/iphone-5s/features/images/cases_interstitial_2x.png); background-size:100% 100%; }
}
